body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('5555.jpg');
background-size: cover;
background-repeat: no-repeat; */
    /* background-color: #ffffff; */
}

body {
    position: relative;
}

body::before {
    content: "";
    background-image: url('../Common\ Image/wedback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(7px);
    z-index: -1;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */
.header {
    background-color: white;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;


    * {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    body {
        background-color: #000000;
    }

    ul {
        list-style: none;
        background: #ffffff;
        text-align: center;
        color: #000000;

    }

    ul li {
        display: inline-block;
        position: relative;

    }

    ul li a {
        display: block;
        padding: 20px 25px;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        transition: transform 0.3s ease-in-out;
    }

    ul li a:hover {
        transform: scale(0.84);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    ul li ul.dropdown li {
        display: block;
        background: rgba(245, 245, 245, 0.409);
        margin: 2px 0px;
    }

    ul li ul.dropdown {
        width: auto;
        background: rgba(253, 253, 253, 0.662);
        position: absolute;
        z-index: 999;
        display: none;
        border-radius: 4px;
        border-color: rgb(255, 255, 255);
    }

    ul li a:hover {
        background: burlywood;
        border-radius: 10px;

    }

    ul li a:active {
        background: rgb(187, 155, 112);
        border-radius: 10px;

    }

    ul li:hover ul.dropdown {
        display: block;
    }

}

.header img {
    width: 120px;
    margin-right: 10px;
    padding-right: 150px;
    transition: transform 0.1s;

}

.header img:active {
    max-width: 120px;
    margin-right: 10px;
    transform: scale(0.9);

}



.search-bar {
    display: flex;
    align-items: center;
    width: 25%;
    margin-top: 0px;
    position: relative;
    right: 30px;

}

.search-bar input {
    width: 300px;
    padding: 0.5em;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 0px;
    margin-right: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.search-bar input:focus {
    width: 300px;
    padding: 0.5em;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.search-bar button {
    padding: 0.5em 1em;
    border: none;
    background-color: burlywood;
    color: black;
    border-radius: 4px;
    margin-left: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-bar button:hover {
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(174, 145, 108);
    color: black;
    border-radius: 4px;
    margin-left: 0.5em;
}

.search-bar button:active {
    padding: 0.5em 1em;
    border: none;
    background-color: burlywood;
    color: black;
    border-radius: 4px;
    margin-left: 0.5em;
    transition: transform 0.2s;
    transform: scale(0.80);
}

.nav {
    margin-top: 0px;
    height: 60px;
    word-spacing: 0px;
    display: flex;
    align-items: center;
}

.nav a {
    margin: 0px;
    font-size: 2em;
    word-spacing: 2px;
}



/* Sections */
.section {
    margin: 2em auto;
    max-width: 1200px;
    padding: 1em;
}

.section h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 2.5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.card {
    background-color: rgba(255, 255, 255, 0.512);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    margin-left: 15px;
    margin-bottom: 30px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.587);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes appear {
    0% {
        opacity: 0.7;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.658);
}

.card img {
    width: 100%;
    height: 330px;
    border-radius: 4px;
}

.card p {
    margin: 0.5em 0;
}

.card button {
    background-color: rgb(214, 170, 113);
    border: none;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.205);
}

.card button:hover {
    background-color: rgb(243, 201, 146);
    border: none;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
}

.card button:active {
    background-color: burlywood;
    border: none;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
    transform: scale(0.90);
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1em 0;
    color: #000000;
    max-width: 500%;
    height: auto;
}

.footer a img {
    margin: 10px;
}

.bin a img {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    color: thistle;
    background-color: #FFF;
    margin-left: 10px;
    margin-top: 5px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;

}

.bin a img:hover {
    display: inline;
    background-color: burlywood;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /* filter: blur(5px);
transition: filter 0.5s ease-in-out; */
    transform: scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.bin a img:active {
    display: inline-flex;
    background-color: rgb(172, 143, 105);
    border-radius: 10px;
    width: 50x;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

}